@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  :root {
    --scrollbar-track-bg: #2d3748;
    --scrollbar-thumb-bg: #718096;
    --scrollbar-thumb-border: #2d3748;
    --scrollbar-thumb-hover-bg: #8d8d8d;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--scrollbar-track-bg);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
    border-radius: 100vh;
    border: 2px solid var(--scrollbar-thumb-border);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-bg);
  }
}
